* {
  position: relative;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Raleway', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f5f7;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}
